*{
   font-family: "Outfit", serif;
}
body{
   background-color: #FBFBFB;
}
.navbar-scrolled {
   background-color: #EEEEEE !important;
   /* Customize with your desired color */
   transition: background-color 0.3s ease;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}